@use './colors.scss' as colors;

$root-font-size: 16px;

$headingFonts: 'Arial', serif;
$paragraphFonts: 'Arial', serif;

$paragraph-sizes: (
  mobile: 0.875rem, 
  desktop: 1rem,     
);

$heading-sizes: (
  h1: (mobile: 2rem, desktop: 4rem),
  h2: (mobile: 1.5rem, desktop: 2.8rem),
  h3: (mobile: 1.25rem, desktop: 2.8rem),
  h4: (mobile: 1.125rem, desktop: 2.8rem),
  h5: (mobile: 1rem, desktop: 2.8rem),
  h6: (mobile: 0.875rem, desktop: 2.8rem)
);

$font-themes: (
  heading: (
    font-family: $headingFonts,
    color: colors.colorTheme(app-black),
    letter-spacing: -0.015em,
    line-height: 1.2,
    margin: 0,
    padding: 0,
    text-align: center
  ),
  paragraph: (
    font-family: $paragraphFonts,
    color: colors.colorTheme(app-black),
    letter-spacing: 0,
    line-height: 1.5,
    margin: 0,
    padding: 0,
    text-align: center
  )
);

@mixin font-theme($theme-name, $heading-level: null) {
  $theme: map-get($font-themes, $theme-name);
  @if $theme {
    font-family: map-get($theme, font-family);
    color: map-get($theme, color);
    letter-spacing: map-get($theme, letter-spacing);
    line-height: map-get($theme, line-height);
    margin: map-get($theme, margin);
    padding: map-get($theme, padding);
    text-align: map-get($theme, text-align);

    @if $theme-name == paragraph {
      font-size: 0.9vw; // Approx 0.875rem at 320px, 1rem at 1200px
    } @else if $theme-name == heading and $heading-level {
      @if $heading-level != h1 {
        letter-spacing: 0.02em;
        line-height: 1.3;
      }
      @if $heading-level == h1 {
        font-size: 2.5vw; // Approx 2rem at 320px, 4rem at 1200px
      } @else if $heading-level == h2 {
        font-size: 1.8vw; // Approx 1.5rem at 320px, 2.8rem at 1200px
      } @else if $heading-level == h3 {
        font-size: 1.7vw; // Approx 1.25rem at 320px, 2.8rem at 1200px
      } @else if $heading-level == h4 {
        font-size: 1.6vw; // Approx 1.125rem at 320px, 2.8rem at 1200px
      } @else if $heading-level == h5 {
        font-size: 1.5vw; // Approx 1rem at 320px, 2.8rem at 1200px
      } @else if $heading-level == h6 {
        font-size: 1.4vw; // Approx 0.875rem at 320px, 2.8rem at 1200px
      }
    }
  } @else {
    @error "No font theme found for `#{$theme-name}`";
  }
}