@use 'sass:map';

$spacing: (
    xs: 0.25rem,
    s: 0.5rem,
    btn: 0.66rem,
    0: 0.625rem,
    1: 1rem,
    2: 1.5rem,
    3: 1.88rem,
    4: 2rem,
    5: 2.12rem,
    6: 2.19rem,
    7: 2.44rem,
    8: 2.5rem,
    9: 3rem,
    tablet1: 3.5rem,
    dekstop1: 5.88rem,
    desktop2: 10.31rem,
    desktop3: 1.75rem,
    desktop4: 0.5rem,
    desktop5: 4.88rem,
);

$breakpoints: (
    tablet: 768px,
    desktop: 1024px,
    wide: 1440px,
);

$borders: (
    buttonRadius: 0.625rem,
    inputRadius: 0.3125rem,
);

$cursor: (
    pointer: pointer,
    grabber: grab,
);

@function cursor($key) {
    @return map.get($cursor, $key);
};


@function border($key) {
    @return map.get($borders, $key);
};

@function breakpoint($key) {
    @return map.get($breakpoints, $key);
};

@function space($key) {
  @return map.get($spacing, $key);
};

$toggler-icon: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");